body {
    background-color: #e5d0b4;
    font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
    font-size: 4vw;
  }

#main-text {
    color: #503421;
    width: 66vw;
    padding-top:8vw;
    margin: auto;
    text-align: center;
}

#example-text {
    color: #9b7755;
    width: 66vw;
    padding-top: 6vw;
    margin: auto;
    text-align: center;
}

#example {
    color: #550264
}